div{
    background-color: blue;
    padding: 20px 20px;
    margin: 20px 0;
}

body{
    min-height: 1500px;
}

#static{
    position: static;
}

#absolute{
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: green;
    z-index: 2;
}

#relative{
    position: relative;
    background-color: yellow;
}

#fixed{
    background-color: blueviolet;
    position: fixed;
    top: 500px;
}

#sticky{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: crimson;
}