header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: brown;
    color: red;
    margin: none;
    left: 0;
    z-index: 2;
    border-bottom: 2px solid black;
    padding: 0 20px;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 100px;
    background-color: blue;
    height: 100%;
    max-width: 100px;
    min-width: 100px;
    z-index: 1;
    border-bottom: 2px solid black;
}

.content{
    position: absolute;
    background-color: beige;
    top: 100px;
    left: 100px;
    max-width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 20px 10px;
}

.content > p{
    max-width: 90%;
}