html{
    background-image: url('sky.gif');
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(255, 217, 0);
}

img{
    height: 100%;
    width: auto;
    margin: 0 50px;
}

body{
    font-family: cursive;
    font-size:xx-large;
}

.content{
    max-width: 70%;
    margin: auto;
}

.neko{
    display: block;
    margin: auto;
    width: 50%;
}

section{
    background-color: beige;
    border-style: ridge;
    padding: 0px  20px;
    border-width: 10px;
    text-indent: 30px;
    margin-top: 0;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: justify;
}

.important{
    background: linear-gradient(0deg, rgb(255, 141, 141) 0%, rgb(224, 103, 58) 100%);
}

