
body{
    background-color: rgb(185, 134, 56);
    margin: 0;
}

section{
    background-color: blanchedalmond;
    display: grid;
    width: 40%;
    aspect-ratio: 1 / 1;
    height: 100%;
    margin: auto;
    grid-template-columns: repeat(3, calc(100% / 3));
    grid-template-rows: repeat(3, calc(100% / 3));
}

#newGame{
    position: absolute;
    background-color: black;
    background-image: url(../../EXTRAS/WEB/content/flcl.gif);
    background-size: cover;
    width: 60%;
    height: 50%;
    left: calc((100% - width) / 2);
    top: 25%;
    color: white;
}

.caja{
    background-color: beige;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    background-size: cover;
}

.x{
    background-image: url("x.png");
}

.o{
    background-image: url("o.png");
}